html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    color: #444444;
    background-image: url('img/bg.jpg');
    background-size: cover;
    position: relative; /* wg footer*/
    min-height: 100vh;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
    box-shadow: 0px 2px 13px -5px rgb(109, 109, 236);
    padding: 24px;
    transition: all 225ms ease-in-out;

}

nav a {
    text-decoration: none;
    font-weight: bold;
    margin-left: 16px;
    margin-right: 16px;
    color: inherit;
    /* color von body*/
    transition: transform 0.33s, color 0.33s;
}

nav a:hover,
.active-link {
    color: rgb(170, 170, 238);
    font-weight: 900;
    /*transform: scale(1.2); /* geht nicht? */
    /*font-size: 1.3em; /* nicht flüssig; transition: font-size 0.33s */
}

.nav-logo {
    font-weight: bold;
    color: rgb(170, 170, 238);
    text-transform: uppercase;
    font-size: 1.2rem;
}

.toggle-menu {
    cursor: pointer;
    height: 32px;
    position: absolute;
    top: 16px;
    right: 16px;
    /* margin: 8px 16px; */
    display: none;
}

/* .show-responsive-menu {
    transform: translateY(0px);
} */

/* Image Gallery */

.gallery-container {
    margin: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery-picture{
    margin: 8px 4px;
    object-fit:cover;
    border-radius: 5px;
    cursor: pointer;
}

.s {
    height: 100px;
    width: 150px;
}

.m {
    height: 150px;
    width: 225px;
}

.l {
    height: 250px;
    width: 375px;
    max-width: 90vw;
}

.picture-box {
    /* padding: 4px 2px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    background-color: white;
    border-radius: 5px;
    transition: transform 0.33s; /* transform flüssiger ablaufen lassen*/
}

.picture-box:hover {
    transform: scale(1.04);
}

.toggle-element {
    display: none !important;
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(1,1,1,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overlay-card {
    background-color: white;
    padding:16px 24px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 1000;
}

.overlay-card img {
    border-radius: 4px;
    max-height: 80vh;
    max-width: 90vw;
}

.icon {
    height: 32px;
    transition: transform 0.33s;
    padding:2px;
}

.icon:hover{
    transform: scale(1.5);
    background-color: rgb(230, 228, 228, 0.3);
    border-radius: 15%;
}

.control-buttons{
    margin-top: 32px;
}

.control-buttons img {
    margin-left: 16px;
    margin-right: 16px;
}

/* transparent colored bg - layer over background picture (Test) */
.background-overlay {
    background-color: rgba(53, 87, 107, 0.4);
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    z-index: -1;
}

/* container "body-content" helps to keep the footer in place */
.body-content {
    padding-bottom: 80px;
}

/* FOOTER */

footer {
    height: 32px;
    padding: 24px;
    /* display: flex; */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #d3ded3;
    box-shadow: 0px 3px 20px -5px blue;
    ;
}

footer a {
    text-decoration: none;
    color: inherit;
    margin: 8px;
}

footer a:hover {
    color: black;
}

@media(max-width:500px) {
    .nav-logo {
        display: none;
    }

    nav {
        justify-content: center;
    }

    .s {
        height: 90px;
        width: 135px;
        max-width: 80vw;
    }

    .m {
        height: 130px;
        width: 195px;
        max-width: 80vw;
    }

    .l {
        height: 200px;
        width: 300px;
        max-width: 80vw;
    }

    .gallery-container {
        margin: 32px;
    }

    .overlay-card img {
        max-width: 80vw;
    }
}

@media(max-width: 450px) {
    
    .nav-container {
        display: flex;
        flex-direction: column;
    }
    
    nav {
        padding: 8px;
        justify-content: flex-start;
        transform: translateY(-120px);
    }

    nav a {
        margin-bottom: 4px;
    }

    .toggle-menu {
        display: block;
        /* z-index: 1; */
    }

    .show-responsive-menu {
        transform: translateY(0px);
        margin-bottom: 48px;;
    }

    .gallery-container {
        margin-top: -32px;
    }
}